:root {
    --brand__color--orange: #FF6900;
    font-size: 20px;
}
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0px;
}
 body {
    margin: 0;
 }
 .flex {
    display: flex;
    flex-direction: row;
 }
/* navBar*/
#navBar {
    width:100%;
    position: fixed;
    top: 0;
    z-index: +3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--brand__color--orange);
    padding: 1em 0em ;
}
.logo {
    position: st;
    display: flex;
    justify-content: center;
    flex-grow:1;
}
a , i {
    margin: 0 1em ;
    text-decoration: none;
    font-size: smaller;
    font-weight: bolder;
    color: white;
}
#navBar nav {
    display: flex;
    justify-content: center;
    flex-grow: 1
}  
#navBar img {
    display:block;
    height: 2em;
}
main {
    margin-top: 6Em;
    max-width: 1920px;
}
#grid--container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin-bottom: 1em;
    width: 550px;
    display: flex;
    flex-direction: column;
}
.card--photo {
    position: relative;
    flex-grow: 20;
}
.card--photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}
.top--img {
    z-index: +1;
    position: absolute;
    transition: 0.5s;
    top: 0;
    left: 0;
}
.card--footer {
    flex-grow: 1;
}
.top--img:hover {
    opacity: 0;
}

.box {
    padding: 0 0.3em ;
    margin-right: 0.5em;
  
    color: white;
    font-size: smaller;
    font-weight: bolder;
}

.box--container {
    position: absolute;
    z-index: +2;
    bottom: +50px;
}
.red {
    color: white;
    background-color: red;
}
.green {
    color: white;
    background-color: green;
}




/* itemDesc */
.item--brand {
    font-size: small;
}
.item--name {
    text-transform: uppercase;
    font-weight: bolder;
}
.price--tag {
    font-size: smaller;
    color: var(--brand__color--orange);
    font-weight: bold;
    margin-right: 0.5em;
}
.price--lineTh {
    text-decoration: line-through;
}
span {
    font-size: smaller;
    font-weight: lighter;
    color: black;
    display: inline;

}